In [1]:
import pandas as pd
import numpy as np

In [35]:
import matplotlib.pyplot as plt

In [2]:
mainpath = "/Users/erick/OneDrive/Escritorio/Jarvis2/Jupyter/datasets"

# Dataset de atributos básicos

### Import con Open

In [3]:
data_pl = []
with open(mainpath + '/' + 'title.basics.tsv',encoding='utf-8', errors='ignore') as f:
    lines = f.readlines()
    for line in lines:
        data_pl.append(line.split('\t'))

In [18]:
# Selección de los datos que son películas o cortos
data_pelis = []
data_pelis.append(data_pl[0])
for ind in range(len(data_pl)):
    if (data_pl[ind][1]=='short' or data_pl[ind][1]=='movie' or data_pl[ind][1]=='tvMovie' or data_pl[ind][1]=='NaN'):
        data_pelis.append(data_pl[ind])

In [19]:
# Se guarda en un DataFrame
DFPelis = pd.DataFrame(data_pelis[1:],columns=data_pelis[0])

### Import con Pandas

In [13]:
#opening the dataset using pandas
data = pd.read_csv(mainpath + '/' + 'title.basics.tsv', delimiter = '\t')
data.head()

C:\Users\erick\miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [79]:
#Muestra de los tipos de títulos sin repetición
set(data['titleType'])

{'movie',
 'short',
 'tvEpisode',
 'tvMiniSeries',
 'tvMovie',
 'tvPilot',
 'tvSeries',
 'tvShort',
 'tvSpecial',
 'video',
 'videoGame'}

# Dataset de ratings

### Ya solo con pandas

In [6]:
data_rt = pd.read_csv(mainpath + '/' + 'title.ratings.tsv.csv', delimiter = ',')
#data_rt.head()

In [7]:
#Condiciones para buscar las películas con más de 7.5 de calificadión y más de 1000 votos
good_ind = data_rt['averageRating']>7.5
votes = data_rt['numVotes']>1000

In [8]:
#Intersección de las condiciones anteriores y guardado del folio 'tconst'
inter = np.logical_and(good_ind,votes)
tconst = data_rt.loc[inter].drop(['numVotes'],axis=1)

## Películas selectas por ver

In [20]:
#Se usa la función merge para encontrar la intersección según los folios tconst
prueba = pd.merge(DFPelis,tconst, how='right',on=['tconst'])

In [23]:
#Finalmente se guarda en FinalDF omitiendo las columnas del primer drop
# porque no aportan nada y omitiendo los renglones con valores NaN
FinalDF = prueba.drop(['endYear','tconst','isAdult'],axis=1).dropna()

In [24]:
FinalDF

,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres\n,averageRating
0,short,A Trip to the Moon,Le voyage dans la lune,1902,13,"Action,Adventure,Comedy\n",8.2
1,short,The Cameraman's Revenge,Mest kinematograficheskogo operatora,1912,12,"Animation,Comedy,Fantasy\n",7.7
2,movie,Intolerance,Intolerance: Love's Struggle Throughout the Ages,1916,163,"Drama,History\n",7.7
3,short,The Immigrant,The Immigrant,1917,30,"Comedy,Drama,Romance\n",7.6
4,short,A Dog's Life,A Dog's Life,1918,33,"Comedy,Drama,Short\n",7.7
...,...,...,...,...,...,...,...
22326,tvMovie,Terra,Terra,2015,98,Documentary\n,8.3
22345,short,Alan Partridge's Scissored Isle,Alan Partridge's Scissored Isle,2016,44,"Comedy,Short\n",8.0
22368,movie,Hindi Medium,Hindi Medium,2017,132,"Comedy,Drama\n",7.9
22383,movie,Dominion,Dominion,2018,120,Documentary\n,9.1
22393,movie,One More Time with Feeling,One More Time with Feeling,2016,113,"Documentary,Music\n",8.2

## A continuación se divide en cortos y películas

In [36]:
DFShorts = FinalDF[FinalDF['titleType']=='short'].drop('titleType',axis=1)
len(DFShorts)

393

In [37]:
PelisFinal = FinalDF[FinalDF['titleType']!='short'].drop('titleType',axis=1)
len(PelisFinal)

4162

## Ahora se muestran las gráficas con la duración nomás pq puedo